.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    height: 70px;
    z-index: 100;
}

.navbar-transparent {
    background-color: transparent;
}

.nav-title-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar-links {
    display: flex;
    gap: 50px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.navbar-link-black {
    color: black;
}

.navbar-links div {
    cursor: pointer;
}

.App {
    height: 200vh;
    background-color: blue;
}

.nav-title {
    color: #4d4d4d;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    line-height: 18px;
}

.nav-title span {
    color: #3f4d68;
}