.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    height: 70px;
    z-index: 100;
}

.navbar-transparent {
    background-color: transparent;
}

.navbar-links {
    display: flex;
    gap: 50px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.navbar-link-black {
    color: black;
}

.navbar-links div {
    cursor: pointer;
}

.App {
    height: 200vh;
    background-color: blue;
}