.mountain-carousel .mySwiper {
    width: 60%;
}

.mountain-carousel {
    position: relative;
}

.mountain-carousel .swiper-pagination {
    position: inherit;
    top: 0;
}

.mountain-carousel .swiper-pagination-bullet-active {
    background-color: white;
}

.mountain-carousel .slide {
    width: 100%;

}


@media only screen and (max-width: 850px) {
    .mountain-carousel .mySwiper {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .mountain-carousel .mySwiper {
        width: 90%;
    }
}