.footer-container {
    display: flex;
    padding: 13px 5px;
    justify-content: space-around;
    align-items: center;
    background-color: #414f6b;
    color: #63769d;
}

.footer-logo-text {
    display: flex;
    gap: 5px;
    align-items: center;
}


@media only screen and (max-width: 600px) {

    .footer-container {
        justify-content: space-between;
        padding: 10px 5px;
    }

    .navbar-copyright {
        font-size: 10px;
    }


    .footer-logo-text {
        font-size: 14px;
    }
}